:root {
  /* Brand Colors */
  --color-primary: #222222;
  --color-secondary: #3a4482;

  /* Background Colors */
  --color-bg: #fff9f1;
  --color-bg-secondary: #f7f7f7;
  --color-bg-accent: #A1D4D4;

  /* Text and Border Colors */
  --color-text: #333230;
  --color-text-alt: #ffffff;
  --color-border: rgba(0, 0, 0, 0.06);

  /* Status Colors */
  --color-danger: #e03e3e;

  /* Typography */
  --font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  --font-family-heading: var(--font-family-base);

  /* Sizes */
  --site-width: 850px;

  /* Other */
  --border-radius: 12px;
  --border-radius-sm: 4px;
}
